{% extends "base.html" %}

{% block title %}
Login Admin
{% endblock %}

{% block content %}

<section class="admin-login-container">

    <div class="admin-login-box">

        <h2>
            🔐 Acceso Administrativo
        </h2>

        {% if error %}

            <div class="admin-error">

                {{ error }}

            </div>

        {% endif %}

        <form method="POST" action="/admin/login">

            <label>Usuario</label>

            <input
                type="text"
                name="usuario"
                required
                placeholder="Ingrese usuario"
            >

            <label>Contraseña</label>

            <input
                type="password"
                name="password"
                required
                placeholder="Ingrese contraseña"
            >

            <button type="submit" class="btn-admin-login">

                Ingresar

            </button>

        </form>

    </div>

</section>

{% endblock %}